
.nav{
  background-color: rgb(17, 17, 46);   
}
.nav1{
  background-color: rgb(30, 62, 176);   
}

.user{
  color:white
}

nav .charter{
  font-size: 2rem;
}

.arterra{
  background-color: rgb(17, 17, 46);   
  
 }
 .body_style{
     background-color: white;
     height: 130px;
    border-bottom: 1px solid black ;
 }
 .display_property{
   display: inline-block;
 }
 .display_style{
  position: relative;
  left:100px;
  display: inline-block;
 }
 /* .search{
   margin-left:50px;
 } */

 .charter-logo{
  display: block;
  max-width:180px;
  max-height:45px;
  width: auto;
  height: auto;
 
 }
 .color{
   background-color:rgb(185, 189, 186);
   height: 400px;
   font:  15px Arial, sans-serif ;
   border-radius: 15px;
 }
 .margin_property{
   margin-right:80px ;
 }
 #yes{
  box-shadow:none;
  appearance:none;
  border-radius:50%;
  width:20px;
  height:20px;
  display: inline;
  text-align: center;
}
#yes:checked{
  background-color:rgb(17, 17, 46); 
 
}
#yes::after{
content: "";
width: 100%;
height: 100%;
display: block;
}
#no{
  box-shadow:none;
  border-radius:50%;
  width:20px;
  height:20px;
}
#no:checked{
  background-color:rgb(17, 17, 46); 
}

/* Tabs Component */

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 500px;
  height: 300px;
  background: #f1f1f1;
  margin: 100px auto 0;
  word-break: break-all;
  border: 1px solid rgba(0, 0, 0, 0.274);
}

.bloc-tabs {
  display: flex;
}
.tabs {

  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child){
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs  {
  background: white;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: rgb(88, 147, 241);
}



button {
  border: none;
  
}
.content-tabs {
  flex-grow : 1;
}
.content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}


